*{
	margin: 0;
	padding: 0;
}

.banner{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://www.wallpapertip.com/wmimgs/0-7279_high-resolution-steven-universe-hd-wallpaper-id-steven.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}
.row{
	display: flex;
	height: 88%;
	align-items: center;
}
.col{
	flex-basis: 50%;
}
h1{
	color: white;
	font-size: 100px;
	padding-top: 10%;
}
h3{
	color: white;
	font-size: 50px;
}
h2{
	color: white;
	font-size: 25px;
}
p{
	color: white;
	font-size: 25px;
}